body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centered {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.display {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 40%;
    border: none;
    border-radius: 120px;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    padding: 13px 15px;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 21px;
}

.menu li:hover {
    text-decoration: underline;
    background-color: brown;
}

.menu li a:hover {
    color: white;
}

.contact-information {
    margin-block: 50px;
}

.contact-information span {
    font-weight: bold;
    font-size: 19px;
}

.contact-information h1,
.contact-form h1,
.FAQ h1,
.location h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: calc(1180px/2);
    width: 100%;
    margin: 0 auto;
}

.form label {
    font-weight: bold;
    font-size: 18px;
}

.form input,
textarea {
    padding: 10px;
    margin-bottom: 15px;
}

.btn-primary {
    font-size: 18px;
    width: 120px;
    border: none;
    border-radius: 40px;
    background-color: #aaa;
    padding: 10px;
    margin-bottom: 15px;
}

.FAQ {
    margin-block: 50px;
}

.FAQ__cards {
    max-width: 300px;
    width: 100%;
    border: 1px solid #aaa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FAQ__cards img {
    width: 40%;
    border: none;
    border-radius: 120px;
}

.FAQ__cards p {
    text-align: justify;
}

.location iframe {
    width: 100%;
}

.location {
    margin-block: 50px;
}

.footer {
    border-top: 1px solid rgba(170, 170, 170, 0.774);
}
.footer__inner{
    justify-content: normal;
}

.footer__inner .menu {
    flex-direction: column;
    justify-content: normal;
}
.footer__inner .logo img{
    width: 60%;
}
.footer__inner .contact-information{
    width: 40%;
}
.icons{
    width: 30%;
    padding: 70px;
}
.icons i{
    font-size: 50px;
    padding-inline:10px ;
}
.icons i:hover{
    color: red;
}