
.footer{
	background-color: var(--color-primary);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 40px;
    font-family: var(--font-family-alternate);

}

.footer .footer__title,
.footer .footer__contact,
.footer .footer__about{
	display: inline-block;
	vertical-align: top;
}

.footer .footer__title{
	width: 40%;
}

.footer h3{
	color: var(--color-text);
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer h3 span{
	color: var(--color-text-secondary);
}


.footer .footer__links{
	color: var(--color-text);
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer__links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer .footer-company-name{
	color: var(--color-text);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer .footer__contact{
	width: 35%;
}

.footer .footer__contact i{
	color:var(--color-text);
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer .footer__contact i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer .footer__contact p{
	display: inline-block;
	color:var(--color-text);
	vertical-align: middle;
	margin:0;
}

.footer .footer__contact p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer .footer__contact p a{
	color: var(--color-text);
	text-decoration: none;;
}

.footer .footer__about{
	max-width: 20%;
}

.footer .footer-company-about{
	line-height: 20px;
	color:  var(--color-text);
	font-size: 15px;
	font-weight: normal;
	margin: 0;
}

.footer .footer-company-about span{
	display: block;
	color: var(--color-text);
	font-size: var(--size-font-base);
	font-weight: bold;
	margin-bottom: 20px;
}

.footer .footer-icons{
	margin-top: 25px;
}

.footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: var(--color-primary);
	border-radius: 2px;
	font-size: 20px;
	color:var(--color-text);
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 768px) {
    .footer{
		font: bold 14px sans-serif;

	}

	.footer .footer__title,
	.footer .footer__contact,
	.footer .footer__about{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer .footer__contact i{
		margin-left: 0;
	}
}